html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
}

.tweetFooter {
  display: flex; 
  justify-content: space-between; 
  border-top: solid 2px darkgrey;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.pageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column;
}

.myContent {
  display: flex;
  min-width: 500px;
  flex: 1 1 75%;
}

.tweetingArea {
  display: block;
}

main {
  display: flex;
  text-align: center;
  margin: 0 auto;
  position: relative;
  max-width: 1000px; 
  flex: 1 1 75%;
}

p {
  text-align: left;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {

  .pageContainer {
    flex-direction: column;
  }

  .tweetingArea {
    display: flex;
  }

  .myContent {
    margin-top: 60px;
  }
}
