nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4056a1;
  height: 120px;
  z-index: 1;
  color: white;
  font-family: Bungee;
  padding: 1.5em;
  position: fixed;
  width: 100%;
}

.logo {
  font-family: 'Bungee', cursive, sans-serif;
  font-weight: 600;
  font-size: 2em;
  width: 200px;
}
